.sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: #a3a3a3;
    font-weight:500;
  }
  
  .sidebar-nav {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    margin-top: 10px;
  }
  
  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000000;
    
  }
  
  .sidebar-nav li:hover {
    text-decoration: none;
    color: #000000;
    background: rgba(255, 255, 255, 0.2);
  }
  
  
  